.who-choose-us {
  width: 90%;
  max-width: 1440px;
  margin: 50px auto;
}

.who-choose-us-text {
  text-align: center;
}
 .who-choose-us-container {
  display: flex;
  flex-direction: column;


/* card part */
.who-choose-us-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}
 .first-two-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}
.third-vard {
  display: flex;
  align-items: center;
} 

.who-choose-us-text h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.who-choose-us-text p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding: 20px 300px;
  text-align: center;
}

/* card 01 */
.division-card01 {
  max-width: 500px;
  padding: 20px 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 25px;
}
.division-card01 img {
  width: 50px;
  border-radius: 10px;
}
.division-card01 h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.division-card01 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}

/* card 02 */
.division-card02 {
  max-width: 500px;
  width: 100%;
  padding: 20px 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 25px;
}
.division-card02 img {
  width: 50px;
  border-radius: 10px;
}
.division-card02 h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.division-card02 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}

/* card 03 */
.division-card03 {
  max-width: 500px;
  width: 100%;
  padding: 20px 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(233, 68, 68, 0.05);

  padding: 25px;
}
.division-card03 img {
  width: 50px;
  border-radius: 10px;
}
.division-card03 h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.division-card03 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
} */