@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

@media screen and (max-width: 600px) {
  .menu-bar-container {
    display: inline-block;
  }
  .menu-logo {
    width: 100%;
  }
  .menu-logo h1 {
    color: #131318;
    font-size: 30px;
    font-weight: 600;
  }
  .menu-logo h1 .logo-color {
    color: #ff5400;
    font-size: 30px;
    font-weight: 600;
  }
  .menu-item ul {
    display: none;
  }

  .menu-item .fa-grip-lines {
    visibility: visible;
  }
  /* banner section */
  .banner-section {
    height: 800px;
    margin: 20px 20px;
    padding: 15px 0;
  }
  .banner-container {
    flex-direction: column;
    max-height: 700px;
    padding: 50px 0;
  }
  .banner-group-text {
    flex-direction: column;
    width: 100%;
    max-height: 500px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
  }

  .banner-text h1 {
    font-size: 64px;
    font-weight: 800;
    width: 90%;
    text-align: center;
  }
  .banner-text p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 700px;
    padding: 30px 0;
    width: 90%;
  }
  .whole-banner-group-text {
    width: 90%;
  }
  .banner-group-text input {
    width: 100%;
  }
  .banner-group-text button {
    width: 100%;
  }
  .banner-group-text #where,
  .banner-group-text #when,
  .banner-group-text #select-type {
    padding-left: 10px;
    min-height: 60px;
  }

  .banner-group-text #when01 {
    position: absolute;
    width: 24px;
    min-height: 40px;
    left: 320px;
    top: 115px;
    cursor: pointer;
    text-align: center;
  }

  .banner-group-text #select-type01 {
    left: 320px;
    top: 190px;
  }
  .banner-group-text button {
    width: 100%;
    min-height: 40px;
    padding: 18px 0;
    border-radius: 5px;
    text-align: center;
    padding-right: 20px;
  }

  /* my won section */
  .my-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .my-heading p {
    width: 100%;
  }

  /* ------------popular section--------------- */
  .poular-container {
    flex-direction: column;
    gap: 50px;
  }
  .popular-text {
    width: 100%;
  }
  .popular-img {
    width: 100%;
    text-align: center;
  }
  .popular-img img {
    width: 100%;
  }

  /* ----------choose your destination section --------------- */
  .choose-text h1 {
    width: 100%;
    font-size: 25px;
  }
  .choose-text p {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 20px;
    text-align: center;
  }
  .row01 {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .row02 {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .row03 {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .choose-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  /* --------who choose us section------------- */

  .why-card-01 {
    flex-direction: column;
    gap: 20px;
  }
  .why-heading p {
    width: 100%;
  }
  /* -----------news letter-------------- */
  .news-letter-container {
    flex-direction: column;
  }
  .news-letter-form {
    flex-direction: column;
    width: 100%;
    padding: 50px 1cqi;
  }
  .news-letter-img {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    position: relative;
  }
  .save-option {
    width: 250px;
    height: 70px;

    position: absolute;
    left: 180px;
    bottom: 60px;
    rotate: -30deg;
  }
  /* footer */
  .footer-container {
    max-width: 80%;
  }
}
